<div class="container">
    <div class="center">
        <h1>Change your password</h1>
        <p>For security reasons we recommand you to change your password</p>
        <form #loginform="ngForm"
              (ngSubmit)="changePassword()">
            <div class="inputbox">
                <input type="password"
                       required="required"
                       name="password"
                       [(ngModel)]="model.password">
                <span>Old Password</span>
            </div>
            <div class="inputbox">
                <input type="password"
                       required="required"
                       name="password"
                       [(ngModel)]="model.newPassword">
                <span>New Password</span>
            </div>
            <div class="inputbox">
                <button type="submit">submit</button>
            </div>
        </form>
    </div>
</div>